:root{
    
--dark: #000000;
--light: rgb(255, 253, 253);
--green: #b9c6ae;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: var(--dark);
    color: var(--light);
    padding: 2%;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: end;
    /* background-color: #000000; */;
}

nav ul li {
    padding: 1%;
    display: flex;
    justify-content: center;
    border-left:1px solid #000000;
}

.about-section{
    display: flex;
    justify-content: flex-start;
}

.heading {
    font-size: 50px;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    display:block;
    border-right: 5px solid black;
}

.about-content{
    padding: 1%;
}


.big-image{
    width: 1000px;
    height: auto;
}
.small-images{
    max-width: 250px;
}
.contact-content{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 10%;
}

.tab{
    text-decoration: none;
    color: var(--dark);
}
.tab:hover{
    background-color: var(--dark);
    color: var(--light);
}

.contact-link{
    padding: 2%;
}
footer{
    display: flex;
    justify-content: center;
}

#about-heading{
    padding-right: 1.19em;
}
.headshot{
    max-width: 250px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }


@media screen and (max-width:768px ) {
    nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        /* background-color: #b9c6ae; */
    }

    .about-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .heading{
        border-bottom: 5px solid black;
        border-right: 0px;
    }

    nav ul li{
        border-left: 0px;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
    }
    .big-image{
        width:500px;
        height:auto
    }
    img{
        padding: 1%;
        display: flex;
        justify-content:center;
     }
}

@media screen and (max-width:425px ) {
    .big-image{
        width:250px;
        height:auto;
    }
}