:root{
    
--dark: #000000;
--light: #fff;
--green: #b9c6ae;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: var(--dark);
    color: var(--light);
    padding: 2%;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: end;
    /* background-color: #000000; */;
}

nav ul li {
    padding: 1%;
    display: flex;
    justify-content: center;
    border-left:1px solid #000000;
}

.about-section{
    display: flex;
    justify-content: flex-start;
}

.heading {
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 5px solid black;
}

.about-content{
    padding: 1%;
}
#about-heading {
    padding: 1.58%;
}
.big-image{
    width: 400%;
    height: auto;
}
.small-images{
    max-width: 100%;
}
.contact-content{
 display: flex;
 justify-content: center;
 align-items: center;
}

@media screen and (max-width:768px ) {
    nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        /* background-color: #b9c6ae; */
    }

    .about-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .heading{
        border-bottom: 5px solid black;
        border-right: 0px;
    }

    nav ul li{
        border-left: 0px;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
    }
}
